.intro {
  margin-top:10px;
  margin-bottom:50px;
}

.scenario {
  margin-top:10px;
  margin-bottom:10px;
}

.institute-partner {
  margin-top: 30px;
  margin-bottom: 50px;
}
.institute-partner img {
  margin-left: 70px;
}
@media (max-width: 767px) {
  .institute-partner img {
    margin-left: 15px;
  }
}
